FILEVINE_CLIENT_ID=
FILEVINE_CLIENT_SECRET=
FILEVINE_PAT=
FILEVINE_ORG_ID=
FILEVINE_USER_ID=
FILEVINE_TOKEN_URL=https://identity.filevine.com/connect/token
FILEVINE_API=https://api.filevineapp.com/fv-app/v2
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
SHAREPOINT_SITE_ID=
SHAREPOINT_DRIVE_ID=
SHAREPOINT_ROOT_FOLDER=Filevine
PORT=3000
APP_USERNAME=admin
APP_PASSWORD=change-me
SESSION_SECRET=
CRON_SECRET=
SYNC_CONCURRENCY=2
SHAREPOINT_TIMEOUT_MS=120000
FUNCTION_MAX_DURATION_MS=270000
