FILEVINE_CLIENT_ID=85105ea4-32f5-4a4f-ae88-51d0c61b4ba5
FILEVINE_CLIENT_SECRET=9A4kRn3ei!{PmT~Yl>LRm(=g-
FILEVINE_PAT=8EED7A6421C76339B8A13F20652362F104B37B53D256DEAE0C70C39484063B44
FILEVINE_ORG_ID=156
FILEVINE_USER_ID=24237
FILEVINE_TOKEN_URL=https://identity.filevine.com/connect/token
FILEVINE_API=https://api.filevineapp.com/fv-app/v2
POWER_AUTOMATE_UPLOAD_URL=https://default883acfaf9eb544a8927f4542f3c01c.13.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/6607a991495047dab175babc30239423/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=53V0BVOBAhVHLQ6si6ZGDTVMwiNl-ORLkDQ5_VMYtsA
PORT=3000
SYNC_CONCURRENCY=6
SYNC_LARGE_FILE_MB=25
SYNC_LARGE_FILE_CONCURRENCY=1
POWER_AUTOMATE_MAX_UPLOAD_MB=100
POWER_AUTOMATE_TIMEOUT_MS=300000
